body {
    font-family: sans-serif;
    margin: 0;
    background: linear-gradient(90deg, #8360c3, #2ebf91)
}

.banniere {
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.menu{
    margin-left: 25%;
    padding-right: 200px;
}

.nom {
    color: white;
    vertical-align: auto; 
    justify-content: center;
    margin-top: 14%;
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
}

h2 {
    color: white;
    font-size: 50px;
    margin-top: 10px;
    position: relative;
    margin-bottom: 100px;
    font-family: 'DM Serif Display', serif;
}


.ligne1 {
    border: none;
    border-top: 3px solid white;
    width: 50%;
    margin: 5px auto; 
}

.ligne2{
    border: none;
    border-top: 3px solid white;
    width: 100%;
    margin: 5px auto;
}


.banniere ul {
    padding: 0;
    list-style: none;
    background-color: #8360c3;
    text-align: center;
    border-radius: 5px;
    padding:0px;
    margin: 0;
    display: flex;
    width: 100%;
    height: 10.7%;
    position: fixed;
    z-index: 1;
    top: 0;
}

.banniere ul li {
    transition: background-color 0.3s ease;
    border-radius: 5px;  
    font-size: 23px;
    font-family: 'Playfair Display', serif;
}

.banniere ul li:hover {
    background-color: #2ebf91;
    color: #000; 
}

.banniere ul li a {
    display: block;
    width: 150px;   
    line-height: 90px; 
    transition: background-color 0.3s ease;
    border-radius: 5px; 
    color: white; 
    text-decoration: none; 
}

.images-haut-droite{
    height: 65px;
    z-index: 1;
    padding-left: 5px;
    padding-top: 5.5px;
}

.images-haut-droite1{
    height: 65px;
    z-index: 1;
    margin-left: 340px;
    padding-top: 5.5px;
}

section {
    padding: 0;
    background-color: linear-gradient(90deg, #8360c3, #2ebf91);
    text-align: center;
    border-radius: 5px;
    margin: 10px 0 0; 
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 200px;
    margin-top: 500px;

}


section > article {
    background-color: #8360c3;
    padding: 40px;
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 5px;
    width: 500px;
    font-size: 26px;
    font-family: 'Fjalla One', sans-serif;
}

.travaux{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 40px;  
    background-color: linear-gradient(90deg, #8360c3, #2ebf91);
    color: white;
}

.qix-images {
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.qix-images img {
    display: flex;
    margin-right: 10px; 
    flex-direction: column;
    justify-content: center;
}


.qix1{
    margin-bottom: 10px;
    margin-left: -1%;
}

.unesco{
    margin-left: -1%;
    margin-top: 60px;
}
.qix23 {
    display: flex;
    flex-direction: column; 
    
}

.qix23 img {
    display: block;
    margin-bottom: 10px; 
}

.titre{
    font-size: 80px;
    color: #cdcdcd;
    font-family: 'DM Serif Display', serif;
    background-color: #8360c3;
}

.cv{
    margin-left: 25%;
}

.contact{
    font-size: 50px;
    margin-top: 200px;
    color: white;
    font-family: 'DM Serif Display', serif;
}

.logomail {
    display: flex; 
    align-items: center;
    margin-left: 25%;
}

.logotel {
    display: flex; 
    align-items: center; 
    margin-top: 20px; 
    margin-left: 25%;
}

.logolin {
    display: flex; 
    align-items: center; 
    margin-top: 20px; 
    margin-left: 25%;
}

.logomail img {
    width: 100px;
    height: 100px;
    margin-right: 20px; 
}

.logotel img {
    width: 100px;
    height: 100px;
    margin-right: 20px; 
}

.logolin img {
    width: 100px;
    height: 100px;
    margin-right: 20px; 
    
}


.cont{
    font-size: 40px;
    color: white;
}



.texte{
    margin-top: 200px;
    color: white;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 140px;
    font-family: 'DM Serif Display', serif;
}
  